<html>
<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <div class="container text-black rounded text-center">
        <h1>About Us</h1>
    </div>
</body>


</html>