@{
    ViewData["Title"] = "Contact Us";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }
        
        input[class=firstname], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=email], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color:#000;
            color: white;
            padding: 12px 20px;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #252525;
        }

        form.form {
            border-style: solid;
            border-radius: 15px;
            padding: 15px;
            border-width: 2px;
            text-align: center;
        }

        textarea {
            height: 200px;
        }



        iframe {
            border-radius: 1rem;
        }


        .row {
            display: flex;
        }

        /* Create two equal columns that sits next to each other */
        .column {
            flex: 50%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }

        #test {
            position: relative;
            left: 20%;
        }


    </style>
</head>


<body>
    
    <div class="container text-black rounded text-center">
        <h1>Contact Us</h1>
    </div>

<div class="container">
    <form class="form" action="/action_page.php">
            <label for="fname">First Name</label>
            <br>
            <input class="firstname" type="text" id="fname" name="firstname" placeholder="Your name.." style="width:50%"> 
            <br>

            <label for="email">Email</label>
            <br>
            <input type="email" id="email" name="email" placeholder="Your email.." style="width:50%">
            <br>

            <label for="message">Message</label>
            <br>
            <textarea id="subject" name="subject" placeholder="Write.." style="width:50%"></textarea>
            <br>

            <input type="submit" value="Send">
    </form>
</div>



        <div class="row">
            <div id="test" class="column">
                <h4><i>Address</i></h4>
                <br/>
                <p>65 Dominion Road, Mt Eden,</p>
                <p>Auckland 1024</p>
            </div>
            <div class="column">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3183.9410784014576!2d174.96414447585985!3d-37.058887272174545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d72ad1c2f8c9307%3A0x30f8128a60eeae1f!2s65%20Dominion%20Road%2C%20Papakura%2C%20Auckland%202110!5e0!3m2!1sen!2snz!4v1726736093072!5m2!1sen!2snz" width="300" height="225" style="border:2px solid black;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>



</body>
</html>