@{
    ViewData["Title"] = "Home Page";
}

	<html>
		<head>
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.sidel {
  width: 37.5%;
	transform: translateX(13%);
	-ms-transform: translateX(13%);
}

.column.sidel img {
	object-fit: fill;
	border-radius: 5px;
	width: 50px;
	height: 300px;
}

.column.sidel .btn {
	position: static;
	border-radius: 5px;
	transform: translateY(-350%);
	-ms-transform: translateY(-350%);
	cursor: pointer;
	padding: 16px 30px;
}

.column.sider {
  width: 37.5%;
	transform: translateX(-13%);
	-ms-transform: translateX(-13%);
}

.column.sider img {
	object-fit: fill;
	border-radius: 5px;
	width: 50px;
	height: 300px;
}

.column.sider .btn {
	position: static;
	border-radius: 5px;
	transform: translateY(-350%);
	-ms-transform: translateY(-350%);
	cursor: pointer;
	padding: 16px 30px;
}

/* Middle column */
.column.middle {
  width: 25%;
  transform: translateY(1.5%)
}

.column.middle img {
	border-radius: 5px;
}

.column.middle .btn {
	position: static;
	border-radius: 5px;
	transform: translateY(-325%);
	-ms-transform: translateY(-325%);
	cursor: pointer;
}


/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
</style>
</head>
<body>

	<div class="text-center">



		<section class="container">
			<div class="slider-wrapper">
				<div class="slider">
					<img id="slide-1" src="~/lib/images/orangeplanet.png" alt="3D rendering of an imaginary orange planet in space" />
					<img id="slide-2" src="~/lib/images/greenplanet.png" alt="3D rendering of an imaginary green planet in space" />
					<img id="slide-3" src="~/lib/images/blueplanet.png" alt="3D rendering of an imaginary blue planet in space" />
				</div>
				<div class="slider-nav">
					<a href="#slide-1"></a>
					<a href="#slide-2"></a>
					<a href="#slide-3"></a>
				</div>
			</div>
		</section>

<div class="row">
  <div class="column sidel">
<img src="~/lib/images/blueplanet.png" alt="Menswear" style="width:90%; height:90%;">
<a asp-area="" asp-controller="Home" asp-action="Menswear">
<button class="btn btn-outline-secondary">Menswear</button>
</a>
  </div>
  
  <div class="column middle">
                <img src="~/lib/images/accessory.png" alt="Everything Else" style="width:75%; height:86%;">
<a asp-area="" asp-controller="Home" asp-action="EverythingElse">
<button class="btn btn-outline-secondary">Everything Else</button>
</a>
 </div>
  
  <div class="column sider">
				<img src="~/lib/images/blueplanet.png" alt="Womenswear" style="width:90%; height:90%;">
<a asp-area="" asp-controller="Home" asp-action="Womenswear">
<button class="btn btn-outline-secondary">Womenswear</button>
</a>
  </div>
</div>
</div>
</body>
</html>
