@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">



	<section class="container">
		<div class="slider-wrapper">
			<div class="slider">
				<img id="slide-1" src="https://images.unsplash.com/photo-1656464868371-602be27fd4c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80" alt="3D rendering of an imaginary orange planet in space" />
				<img id="slide-2" src="https://images.unsplash.com/photo-1657586640569-4a3d4577328c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80" alt="3D rendering of an imaginary green planet in space" />
				<img id="slide-3" src="https://images.unsplash.com/photo-1656077217715-bdaeb06bd01f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80" alt="3D rendering of an imaginary blue planet in space" />
			</div>
			<div class="slider-nav">
				<a href="#slide-1"></a>
				<a href="#slide-2"></a>
				<a href="#slide-3"></a>
			</div>
		</div>
	</section>
	<html>
	<head>
		<style>
			.container2 {
				position: relative;
				width: 100%;
				max-width: 400px;
				padding-left: 75px;
			}

				.container2 img {
					width: 100%;
					height: auto;
					border-radius: 5px;
				}

				.container2 .btn {
					position: absolute;
					top: 50%;
					left: 60%;
					transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					background-color: #f1f1f1;
					color: #212529;
					font-size: 16px;
					padding: 16px 30px;
					border-style: solid;
					cursor: pointer;
					border-radius: 5px;
					text-align: center;
				}

					.container2 .btn:hover {
						background-color: #212529;
						color: white;
					}

			.container3 {
				position: relative;
				width: 100%;
				max-width: 400px;
				padding-left: 75px;
				left: 62.2%;
				top: -247px;
			}

				.container3 img {
					width: 100%;
					height: auto;
					border-radius: 5px;
				}

				.container3 .btn {
					position: absolute;
					top: 50%;
					left: 60%;
					transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					background-color: #f1f1f1;
					color: #212529;
					font-size: 16px;
					padding: 16px 30px;
					border-style: solid;
					cursor: pointer;
					border-radius: 5px;
					text-align: center;
				}

					.container3 .btn:hover {
						background-color: #212529;
						color: white;
					}

			.container4 {
				position: relative;
				width: 100%;
				max-width: 400px;
				padding-left: 75px;
				left: 31%;
				top: -494px;
			}

				.container4 img {
					width: 100%;
					height: auto;
					border-radius: 5px;
				}

				.container4 .btn {
					position: absolute;
					top: 50%;
					left: 60%;
					transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					background-color: #f1f1f1;
					color: #212529;
					font-size: 16px;
					padding: 16px 30px;
					border-style: solid;
					cursor: pointer;
					border-radius: 5px;
					text-align: center;
				}

					.container4 .btn:hover {
						background-color: #212529;
						color: white;
					}
		</style>
	</head>
	<body>

		<div class="container2">
			<img src="https://images.unsplash.com/photo-1656077217715-bdaeb06bd01f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80" alt="Menswear" style="width:100%">
			<button class="btn btn-outline-secondary">Menswear</button>
		</div>
		<div class="container3">
			<img src="https://images.unsplash.com/photo-1656077217715-bdaeb06bd01f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80" alt="Womenswear" style="width:100%">
			<button class="btn btn-outline-secondary">Womenswear</button>
		</div>
		<div class="container4">
			<img src="https://images.unsplash.com/photo-1656077217715-bdaeb06bd01f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80" alt="Womenswear" style="width:100%">
			<button class="btn btn-outline-secondary">Everything Else</button>
		</div>

	</body>
</html>

    </div>
