@{
    ViewData["Title"] = "Menswear";
}
<html>
    <head>
    <style>

    </style>
    </head>
    <body>
    <div class="container text-black rounded text-center">
        <h1>Menswear</h1>
    </div>
    <p>Placeholder(Listings will be added through database)</p>

    </body>

</html>