@{
    ViewData["Title"] = "Privacy Policy";
}
<html>
    <head>
    <style>

    </style>
    </head>
    <body>
    <div class="container text-black rounded text-center">
        <h1>Privacy Policy</h1>
    
    <p>Use this page to detail your site's privacy policy.</p>
    </div>
    </body>

</html>
