@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<style>
    h1 {
        font-weight: bold;
        color: red;
    }
</style>


<header>
    <h1>@ViewData["Title"]</h1>
    <p>You shouldn't be here</p>
</header>
